In [1]:
import pandas as pd
import numpy as np

In [2]:
d1 = pd.read_csv('merged_file_groc_drug.csv', encoding='utf-8')
d2 = pd.read_csv('WeekCodes2.csv')

In [3]:
d1.head()

,ID,COLUPC,L4,L5,VOL_EQ,COLOR,SIZE,ADDITIVES,NUMBER.OF.PLY,TYPE.OF.DISPENSER,IRI_KEY,WEEK,UNITS,DOLLARS,F,D,PR
0,1,13600000317,KIMBERLY CLARK CORP,KLEENEX,0.15,WHITE,POCKET SIZE,MISSING,2 PLY,TEAR OPEN,217804,1132,34,8.84,NONE,0,0
1,2,13600000317,KIMBERLY CLARK CORP,KLEENEX,0.15,WHITE,POCKET SIZE,MISSING,2 PLY,TEAR OPEN,282823,1139,10,3.30,NONE,0,0
2,3,13600000317,KIMBERLY CLARK CORP,KLEENEX,0.15,WHITE,POCKET SIZE,MISSING,2 PLY,TEAR OPEN,645054,1125,17,5.61,NONE,0,0
3,4,13600000317,KIMBERLY CLARK CORP,KLEENEX,0.15,WHITE,POCKET SIZE,MISSING,2 PLY,TEAR OPEN,226597,1152,33,16.50,NONE,0,0
4,5,13600000317,KIMBERLY CLARK CORP,KLEENEX,0.15,WHITE,POCKET SIZE,MISSING,2 PLY,TEAR OPEN,536281,1129,9,2.97,NONE,0,0

In [4]:
d1.shape

(1709263, 17)

In [5]:
d2.rename(columns={'Week':'WeekMonth'}, inplace=True)
d3 = pd.merge(d1, d2, how = 'left', left_on='WEEK', right_on='WeekID')

In [6]:
d3.head()

,ID,COLUPC,L4,L5,VOL_EQ,COLOR,SIZE,ADDITIVES,NUMBER.OF.PLY,TYPE.OF.DISPENSER,IRI_KEY,WEEK,UNITS,DOLLARS,F,D,PR,WeekMonth,WeekID
0,1,13600000317,KIMBERLY CLARK CORP,KLEENEX,0.15,WHITE,POCKET SIZE,MISSING,2 PLY,TEAR OPEN,217804,1132,34,8.84,NONE,0,0,07-May-01,1132
1,2,13600000317,KIMBERLY CLARK CORP,KLEENEX,0.15,WHITE,POCKET SIZE,MISSING,2 PLY,TEAR OPEN,282823,1139,10,3.30,NONE,0,0,25-Jun-01,1139
2,3,13600000317,KIMBERLY CLARK CORP,KLEENEX,0.15,WHITE,POCKET SIZE,MISSING,2 PLY,TEAR OPEN,645054,1125,17,5.61,NONE,0,0,19-Mar-01,1125
3,4,13600000317,KIMBERLY CLARK CORP,KLEENEX,0.15,WHITE,POCKET SIZE,MISSING,2 PLY,TEAR OPEN,226597,1152,33,16.50,NONE,0,0,24-Sep-01,1152
4,5,13600000317,KIMBERLY CLARK CORP,KLEENEX,0.15,WHITE,POCKET SIZE,MISSING,2 PLY,TEAR OPEN,536281,1129,9,2.97,NONE,0,0,16-Apr-01,1129

In [21]:
d3.to_csv('Store_data_gr_dr_tableau.csv')

## Full Store Data

In [7]:
s1 = pd.read_csv('Full_factiss_merged_dr_gr.csv')

In [8]:
s1.head()

,Unnamed: 0,IRI_KEY,WEEK,SY,GE,VEND,ITEM,UNITS,DOLLARS,F,D,PR
0,1,664497,1114,0,2,36000,27790,5,8.65,NONE,0,0
1,2,664497,1114,0,1,36000,317,2,1.06,NONE,0,0
2,3,664497,1114,0,2,36000,27710,1,1.73,NONE,0,0
3,4,664497,1114,0,3,36000,28590,4,7.96,NONE,0,0
4,5,664497,1114,0,2,36000,25475,1,3.99,NONE,0,0

In [9]:
s1.shape

(2137987, 12)

In [10]:
s1['SY'] = s1['SY'].apply(lambda x: '{0:0>2}'.format(x))

In [11]:
s1['GE'] = s1['GE'].apply(lambda x: '{0:0>2}'.format(x))

In [12]:
s1['VEND'] = s1['VEND'].apply(lambda x: '{0:0>5}'.format(x))

In [13]:
s1['ITEM'] = s1['ITEM'].apply(lambda x: '{0:0>5}'.format(x))

In [14]:
s1.shape

(2137987, 12)

In [15]:
s1['UPC'] = s1['SY'].map(str) + "-" + s1['GE'].map(str) + "-" + s1['VEND'].map(str) + "-" + s1['ITEM'].map(str)

In [16]:
s1.head()

,Unnamed: 0,IRI_KEY,WEEK,SY,GE,VEND,ITEM,UNITS,DOLLARS,F,D,PR,UPC
0,1,664497,1114,00,02,36000,27790,5,8.65,NONE,0,0,00-02-36000-27790
1,2,664497,1114,00,01,36000,00317,2,1.06,NONE,0,0,00-01-36000-00317
2,3,664497,1114,00,02,36000,27710,1,1.73,NONE,0,0,00-02-36000-27710
3,4,664497,1114,00,03,36000,28590,4,7.96,NONE,0,0,00-03-36000-28590
4,5,664497,1114,00,02,36000,25475,1,3.99,NONE,0,0,00-02-36000-25475

In [17]:
s2 = pd.read_csv('prod_tissue_V2.csv')

In [19]:
s2.head()

,L1,L2,L3,L4,L5,L9,Level,UPC,COLUPC,SY,...,ITEM,*STUBSPEC 1844RC 00004,VOL_EQ,PRODUCT TYPE,COLOR,SIZE,ADDITIVES,NUMBER OF PLY,TYPE OF DISPENSER,NUMBER OF SHEETS
0,CATEGORY - FACIAL TISSUE,FACIAL TISSUE,A & G TEXTILES INC,A & G TEXTILES INC,BEST BRANDS,+BESBR WHT FCLTS 2PLY 70CT,9,00-01-42887-40492,14288740492,NaN,...,40492,+BESBR WHT FCLTS 2PLY 70CT 0 1 4...,0.70,FACIAL TISSUE,WHITE,MISSING,MISSING,2 PLY,TOP OPENING,MISSING
1,CATEGORY - FACIAL TISSUE,FACIAL TISSUE,A & G TEXTILES INC,A & G TEXTILES INC,BEST BRANDS,+BESBR WHT FCLTS 2PLY 70CT,9,00-01-42887-40493,14288740493,NaN,...,40493,+BESBR WHT FCLTS 2PLY 70CT 0 1 4...,0.70,FACIAL TISSUE,WHITE,MISSING,MISSING,2 PLY,TOP OPENING,MISSING
2,CATEGORY - FACIAL TISSUE,FACIAL TISSUE,A & G TEXTILES INC,A & G TEXTILES INC,BEST BRANDS,+BESBR WHT FCLTS 2PLY 70CT,9,00-01-42887-40494,14288740494,NaN,...,40494,+BESBR WHT FCLTS 2PLY 70CT 0 1 4...,0.70,FACIAL TISSUE,WHITE,MISSING,MISSING,2 PLY,TOP OPENING,MISSING
3,CATEGORY - FACIAL TISSUE,FACIAL TISSUE,AMERICAN TISSUE CORP,AMERICAN TISSUE CORP,MAGIC SOFT,+MGCSO WHT FCLTS 2PLY 85CT,9,00-02-24545-47000,22454547000,NaN,...,47000,+MGCSO WHT FCLTS 2PLY 85CT 0 2 2...,0.85,FACIAL TISSUE,WHITE,MISSING,MISSING,2 PLY,TOP OPENING,MISSING
4,CATEGORY - FACIAL TISSUE,FACIAL TISSUE,AMERICAN TISSUE CORP,AMERICAN TISSUE CORP,MAGIC SOFT,+MGCSO WHT FCLTS 2PLY 85CT,9,00-01-72105-15035,17210515035,NaN,...,15035,+MGCSO WHT FCLTS 2PLY 85CT 0 1 7...,0.85,FACIAL TISSUE,WHITE,MISSING,MISSING,2 PLY,TOP OPENING,MISSING

In [18]:
s3 = pd.merge(s1, s2, on='UPC', how='left')

In [19]:
s3.shape

(2137987, 34)

In [23]:
s3.to_csv('Full_gr_dr_prod_merged.csv')

In [20]:
d2 = pd.read_csv('WeekCodes2.csv')

In [21]:
d2.head()

        Week  WeekID
0  01-Jan-01    1114
1  08-Jan-01    1115
2  15-Jan-01    1116
3  22-Jan-01    1117
4  29-Jan-01    1118

In [22]:
d2.rename(columns={'Week':'WeekMonth'}, inplace=True)
s3 = pd.merge(s3, d2, how = 'left', left_on='WEEK', right_on='WeekID')

In [23]:
s3.columns.values

array(['Unnamed: 0', 'IRI_KEY', 'WEEK', 'SY_x', 'GE_x', 'VEND_x', 'ITEM_x',
       'UNITS', 'DOLLARS', 'F', 'D', 'PR', 'UPC', 'L1', 'L2', 'L3', 'L4',
       'L5', 'L9', 'Level', 'COLUPC', 'SY_y', 'GE_y', 'VEND_y', 'ITEM_y',
       '*STUBSPEC 1844RC                                                         00004  ',
       'VOL_EQ', 'PRODUCT TYPE', 'COLOR', 'SIZE', 'ADDITIVES',
       'NUMBER OF PLY', 'TYPE OF DISPENSER', 'NUMBER OF SHEETS',
       'WeekMonth', 'WeekID'], dtype=object)

In [24]:
s3.to_csv('Full_gr_dr_prod_merged.csv')

## Final File - Scanner store data

In [2]:
s4 = pd.read_csv('Full_gr_dr_prod_merged.csv')

In [7]:
s4.head()

,Unnamed: 0,Unnamed: 0.1,IRI_KEY,WEEK,SY_x,GE_x,VEND_x,ITEM_x,UNITS,DOLLARS,...,VOL_EQ,PRODUCT TYPE,COLOR,SIZE,ADDITIVES,NUMBER OF PLY,TYPE OF DISPENSER,NUMBER OF SHEETS,WeekMonth,WeekID
0,0,1,664497,1114,0,2,36000,27790,5,8.65,...,1.75,FACIAL TISSUE,ASSORTED,MISSING,MISSING,2 PLY,TOP OPENING,MISSING,01-Jan-01,1114
1,1,2,664497,1114,0,1,36000,317,2,1.06,...,0.15,FACIAL TISSUE,WHITE,POCKET SIZE,MISSING,2 PLY,TEAR OPEN,MISSING,01-Jan-01,1114
2,2,3,664497,1114,0,2,36000,27710,1,1.73,...,1.75,FACIAL TISSUE,WHITE,MISSING,MISSING,2 PLY,TOP OPENING,MISSING,01-Jan-01,1114
3,3,4,664497,1114,0,3,36000,28590,4,7.96,...,2.50,FACIAL TISSUE,WHITE,FAMILY,MISSING,2 PLY,TOP OPENING,MISSING,01-Jan-01,1114
4,4,5,664497,1114,0,2,36000,25475,1,3.99,...,2.85,FACIAL TISSUE,WHITE,MISSING,MISSING,2 PLY,TOP OPENING,MISSING,01-Jan-01,1114

In [3]:
s4['IRI_KEY'].nunique()

1866

In [4]:
s4.columns.values

array(['Unnamed: 0', 'Unnamed: 0.1', 'IRI_KEY', 'WEEK', 'SY_x', 'GE_x',
       'VEND_x', 'ITEM_x', 'UNITS', 'DOLLARS', 'F', 'D', 'PR', 'UPC', 'L1',
       'L2', 'L3', 'L4', 'L5', 'L9', 'Level', 'COLUPC', 'SY_y', 'GE_y',
       'VEND_y', 'ITEM_y',
       '*STUBSPEC 1844RC                                                         00004  ',
       'VOL_EQ', 'PRODUCT TYPE', 'COLOR', 'SIZE', 'ADDITIVES',
       'NUMBER OF PLY', 'TYPE OF DISPENSER', 'NUMBER OF SHEETS',
       'WeekMonth', 'WeekID'], dtype=object)

In [19]:
s4['L4'].unique()

array(['KIMBERLY CLARK CORP', 'PROCTER & GAMBLE', 'PRIVATE LABEL',
       'CONSUMER LICENSING CORP', 'LINTERS INC.', 'KINGSBRIDGE INTL',
       'MARCAL PAPER MILLS INC', 'IRVING TISSUE CONVERTERS',
       'LISA FRANK INC', 'AMERICAN TISSUE CORP', 'GEORGIA-PACIFIC CORP',
       'ELLIAIR AMERICA CO', 'SOFT TOUCH TISSUE INC',
       'FOUR STAR INTNL TRDNG CO', 'H. GEORGE CASPARI INC', 'JUSTEN PRODS',
       'MEGAS BEAUTY AIDS', 'SKF GLOBAL INC.', 'U.S. ALLIANCE PAPER INC.',
       'GLOBAL TISSUE GROUP INC', 'BRADSHAW INTL INC',
       'ORCHIDS PAPER PRODUCTS COMPANY', 'PAPER PRODUCTS DESIGN GMBH',
       'ROYAL PAPER CONVERTING', 'DURA-KLEEN (USA) INC.',
       'SEVENTH GENERATION INC.', 'NAVAJO MANUFACTURING COMPANY',
       'CASCADES TISSUE', 'HGSM CONCEPTS WORLD BAZAARS IN',
       'PRODALE PAPER INDUSTRIES INC.', 'GENERIC', 'SCOTT PAPER LIMITED',
       'ATLANTIC PAPER CORP.'], dtype=object)

In [22]:
s4[s4['L4']=='IRVING TISSUE CONVERTERS']['DOLLARS'].sum()

6982226.1500010835

## Delivery Stores

In [6]:
ds = pd.read_csv('Delivery_Stores.csv')

In [10]:
ds.Market_Name.unique()

array(['BUFFALO', 'MILWAUKEE', 'PEORIA', 'OKLAHOMA CITY', 'LOS ANGELES',
       'SAN FRANCISCO', 'PORTLAND', 'NEW YORK', 'WEST TEX', 'BOSTON',
       'HOUSTON', 'GREEN BAY', 'HARTFORD', 'CHARLOTTE', 'SAN DIEGO',
       'EAU CLAIRE', 'TULSA', 'NEW ENGLAND', 'NEW ORLEANS',
       'SALT LAKE CITY', 'OMAHA', 'RICHMOND', 'KNOXVILLE',
       'SOUTH CAROLINA', 'DALLAS', 'ROANOKE', 'WASHINGTON', 'SYRACUSE',
       'RALEIGH', 'PHILADELPHIA', 'HARRISBURG', 'SPOKANE', 'ATLANTA',
       'SACRAMENTO', 'MISSISSIPPI', 'PITTSFIELD', 'PROVIDENCE', 'CHICAGO',
       'ST. LOUIS', 'BIRMINGHAM', 'SEATTLE', 'TOLEDO', 'GRAND RAPIDS',
       'MINNEAPOLIS', 'DETROIT', 'DES MOINES', 'KANSAS CITY', 'PHOENIX',
       'INDIANAPOLIS', 'CLEVELAND'], dtype=object)

In [8]:
pan = pd.read_csv('Panle_purchase_total.csv')

In [9]:
pan.columns.values

array(['COLUPC', 'PANID', 'WEEK', 'UNITS', 'OUTLET', 'DOLLARS', 'IRI_KEY',
       'Panelist.Type', 'Combined.Pre.Tax.Income.of.HH', 'Family.Size',
       'HH_RACE', 'Type.of.Residential.Possession',
       'Age.Group.Applied.to.Male.HH',
       'Education.Level.Reached.by.Male.HH', 'Occupation.Code.of.Male.HH',
       'Male.Working.Hour.Code', 'Age.Group.Applied.to.Female.HH',
       'Education.Level.Reached.by.Female.HH',
       'Occupation.Code.of.Female.HH', 'Female.Working.Hour.Code',
       'Number.of.Dogs', 'Number.of.Cats', 'Children.Group.Code',
       'Marital.Status', 'Number.of.TVs.Used.by.HH',
       'Number.of.TVs.Hooked.to.Cable', 'L3', 'L4', 'L5', 'VOL_EQ',
       'COLOR', 'SIZE', 'ADDITIVES', 'NUMBER.OF.PLY', 'TYPE.OF.DISPENSER'], dtype=object)

In [17]:
pan.describe()

,COLUPC,PANID,WEEK,UNITS,DOLLARS,IRI_KEY,Panelist.Type,Combined.Pre.Tax.Income.of.HH,Family.Size,HH_RACE,...,Education.Level.Reached.by.Female.HH,Occupation.Code.of.Female.HH,Female.Working.Hour.Code,Number.of.Dogs,Number.of.Cats,Children.Group.Code,Marital.Status,Number.of.TVs.Used.by.HH,Number.of.TVs.Hooked.to.Cable,VOL_EQ
count,8.300000e+03,8.300000e+03,8300.000000,8300.000000,8300.000000,8.300000e+03,8300.00000,8300.000000,8300.000000,8300.000000,...,8300.000000,8300.000000,8300.000000,8300.000000,8300.000000,8300.000000,8300.000000,3311.000000,3312.000000,8300.000000
mean,2.115623e+10,2.059783e+06,1139.841325,1.323012,2.501872,9.311564e+05,2.41494,7.047590,2.459277,1.013012,...,5.449277,7.038072,2.970602,0.361084,0.417711,7.019398,2.373735,2.821806,2.499396,1.800536
std,8.563716e+09,1.047408e+06,15.231649,0.718560,1.556216,2.046096e+06,2.91319,2.955961,1.222418,0.369749,...,1.632291,4.396923,1.139865,0.667244,0.813549,2.020615,0.889258,1.334740,1.363546,1.353810
min,1.370003e+10,1.100164e+06,1114.000000,1.000000,0.440000,2.005640e+05,0.00000,0.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.120000
25%,1.370003e+10,1.194696e+06,1127.000000,1.000000,1.530000,2.337790e+05,0.00000,5.000000,2.000000,1.000000,...,4.000000,2.000000,2.000000,0.000000,0.000000,8.000000,2.000000,2.000000,1.000000,1.000000
50%,1.634354e+10,1.311308e+06,1141.000000,1.000000,1.990000,2.578710e+05,0.00000,7.000000,2.000000,1.000000,...,5.000000,10.000000,3.000000,0.000000,0.000000,8.000000,2.000000,3.000000,2.000000,1.440000
75%,2.370006e+10,3.307322e+06,1153.000000,1.000000,3.100000,6.521590e+05,6.00000,9.000000,3.000000,1.000000,...,7.000000,10.000000,4.000000,1.000000,1.000000,8.000000,3.000000,4.000000,3.000000,2.000000
max,4.370006e+10,3.843011e+06,1165.000000,15.000000,36.720000,9.979856e+06,9.00000,12.000000,6.000000,5.000000,...,9.000000,13.000000,6.000000,5.000000,5.000000,8.000000,5.000000,9.000000,11.000000,8.640000

In [24]:
pan['L4'].unique()

array(['PROCTER & GAMBLE', 'IRVING TISSUE CONVERTERS'], dtype=object)

In [27]:
pan[pan['L4']=='PROCTER & GAMBLE']['L5'].unique()

array(['PUFFS PLUS', 'PUFFS TO GO', 'PUFFS', 'PUFFS AND PUFFS PLUS',
       'PUFFS EXTRA STRENGTH', 'PUFFS ADVANCED EXTRA STRENGTH'], dtype=object)

In [15]:
pan2 = pd.read_csv('Purchase_Merged.csv')

In [16]:
pan2['PANID'].nunique()

6078

In [18]:
pan2.describe()

,PANID,WEEK,UNITS,DOLLARS,IRI_KEY,COLUPC
count,4.258200e+04,42582.000000,42582.000000,42582.000000,4.258200e+04,4.258200e+04
mean,1.978031e+06,1140.411512,1.558029,2.335308,1.015286e+06,1.267304e+12
std,1.022105e+06,15.448367,1.106462,1.681451,2.071101e+06,3.069662e+12
min,1.100016e+06,1114.000000,1.000000,0.230000,2.005640e+05,1.242913e+10
25%,1.191403e+06,1127.000000,1.000000,1.290000,2.337790e+05,1.370003e+10
50%,1.308627e+06,1141.000000,1.000000,1.850000,2.578710e+05,2.360003e+10
75%,3.301960e+06,1154.000000,2.000000,2.970000,6.521590e+05,3.370006e+10
max,3.899690e+06,1165.000000,30.000000,36.720000,9.979872e+06,8.840000e+12